[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
pyqt5 = "~=5.11"
isogeo-pysdk = "*"

[requires]
python_version = "3.6"
